@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="aboutcontact">Hello there!  My name is Jacob Helou, and I created this webpage.
    
    This is a webpage made with ASP.Net framework and entity framework.  I used n-tier architecture with MVCs.  This was my project from weeks 4-6 of my time at ElevenFifty Academy.
    
    Initially, I wasn't sure what I wanted to make, and settled on this because it "wasn't terrible".  The idea is that you can put parts of speech into tables(adjective, noun, title).  You can create your own silly insult manually, or you can generate one that pulls a random entry from each of the 3 part of speech tables, and displays it on the screen.  It's also added to a table in a section on the homepage, with the 10 most recent insults.
    
    This isn't super complex by any means, but I learned much about how to code an application like this one.  I feel that this program perhaps gives a little insight into my personality, rather than being a super impressive technological marvel of software engineering.
    
    I'm currently looking for a full time position in software development(or a related field, like information systems), so if you're impressed, feel free to visit my linkedin profile.  My profile also has my portfolio(which has my github and resume) and resume in the "about" section of my page.

    linked in profile:
    </p>
