@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p class ="aboutcontact">
    Indianapolis area, Indiana

    email: JacobHelouZX@gmail.com
    linkedin:https://www.linkedin.com/in/jacob-helou-44810b175/
    github:https://github.com/Helouj
    portfolio: https://helouj.github.io/
    phone:Email me and we'll talk
</p>