
<h3>@ViewBag.Message</h3>
<p class="aboutcontact">
    Indianapolis area, Indiana
    <br />
    <br />
    Email:     JacobHelouZX@gmail.com
    <br />
    <br />

    Linkedin:https://www.linkedin.com/in/jacob-helou-44810b175/
    <br />

    Github:https://github.com/Helouj
    <br />

    portfolio page: https://helouj.github.io/
    <br />

    phone number:Email me and we'll talk
</p>