body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:rgba(255, 255, 255, .2);
    background-image: url("looneytunes.png");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    
    
    
}
.jumbotron {
  
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(maroon.png);
    background-repeat: no-repeat;
    text-shadow: 1px 1px black;
    padding-right: 20px;
  
    position: center;
    
    max-height: auto;
    max-width: min-content;
    
    margin: auto;
    background-size: cover;
}

table{
    background-color: rgba(0, 0, 0, .3);
    margin-top: 10px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/*table {
    width: 200px;
    height: 200px;
    display: block;
    position: relative;
}

    table::after {
        content: "";
        background: url(maroon.png);
        opacity: 0.5;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

